
*.ipynb
.ipynb_checkpoints
.DS_Store
*.jpg
*.jpeg
*.pyc
*.log

################################################################################
################################################################################
                        ## Configuration ##
################################################################################
################################################################################
*.ini

################################################################################
################################################################################
                        ## Presentation Items ##
################################################################################
################################################################################
/presentation*

################################################################################
################################################################################
                        ## PythonAnywhere Deployment ##
################################################################################
################################################################################

run_gollandbot

################################################################################
################################################################################
                        ## Virtual Environment ##
################################################################################
################################################################################
venv
golland_venv_requirements.txt
golland_virtualenv
